[submodule "PPOIS"]
	path = PPOIS
	url = https://github.com/robilkot/BSUIR_PPOIS
[submodule "OTIS/LW5"]
	path = OTIS/LW5
	url = https://github.com/robilkot/GraphEditor
[submodule "AOIS"]
	path = AOIS
	url = https://github.com/robilkot/BSUIR_AOIS
[submodule "LOIS"]
	path = LOIS
	url = https://github.com/robilkot/BSUIR_LOIS
[submodule "PBZ"]
	path = PBZ
	url = https://github.com/robilkot/BSUIR_PBZ
