*.*
!*.bat
!*.sh
!*.tex
!*.txt
!*.sh
!*.dwg
!*.dwt
!*.cpp
!*.h
!*.sln
!*.vcxproj
!*.gwf
!*.scs
!*.nb
!*.cs
!*.csproj
!*.axaml
!*.manifest
!*.desktop
!*.docx
!*.pdf
!*.sql
!*.ipynb
!*.csv
!*.razor
!*.css
!*.html
!*.py
!*.Android
!*.xml
!*.json
!*.ico
!*.svg
!**.svg
**/x64