@page "/editZone"
@rendermode InteractiveServer
@using System.Globalization
@using LW2_ParkingLots.Model.Entities
@using LW2_ParkingLots.Model.Services

<div class="layout-rectangle1">
    <div style="display: flex; align-items: center; margin-bottom: 5rem;">
        <img src="settings.png" alt="icon" style="margin-right: 3rem;">
        <h2 style="margin: 0;">Редактирование парковочной зоны</h2>
    </div>

    <div style="display:grid; grid-template-columns: 8rem 20rem; grid-row-gap: 0.5rem;">
        <label style="margin: auto;">Адрес:</label> <input style="background-color: #d9d9d9; height: 3rem; border:none" placeholder="введите адрес" />
        <label style="margin: auto;">Номер:</label> <input style="background-color: #d9d9d9; height: 3rem; border:none" placeholder="введите номер" />
    </div>

    <button @onclick='() => Navigation.NavigateTo("manageZone")' style="margin:0 auto; display:block; width: 20rem; background-color: #5a3db4; color: white; padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">
        Редактировать
    </button>

    <div style="text-align: center; margin-top: 20px;">
        <a style="padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;" href="/manageZone">Назад</a>
    </div>
</div>


@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
}
