@page "/manageZone"
@using System.Globalization
@using LW2_ParkingLots.Model.Entities
@using LW2_ParkingLots.Model.Services

<div class="layout-rectangle1">
    <div class="layout-rectangle1" style="float: left; width: 93%; padding: 0;">
        <div style="display: flex; align-items: center; margin-bottom: 5rem;">
            <img src="settings.png" alt="icon" style="margin-right: 3rem;">
        <h2 style="margin: 0;">Управление парковочной зоной</h2>
        </div>

        <div style="display:grid; grid-template-columns: 8rem 20rem; grid-row-gap: 0.5rem;">
            <label style="margin: auto;">Адрес:</label> <label style="display:flex; align-items: center; background-color: #e8def8; height: 3rem; border:none">введите адрес</label>
            <label style="margin: auto;">Номер:</label> <label style="display:flex; align-items: center; background-color: #e8def8; height: 3rem; border:none">введите номер</label>
        </div>


        <div style="text-align: center; margin-top: 20px;">
            <a style="padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;" href="/manageZones">Назад</a>
        </div>

    </div>


    <div class="layout-rectangle1" style="float: left; width: 7%; padding: 0;">

        <NavLink class="nav-link" href="editZone" style="padding: 0; text-align: center">
            <img src="settings.png" width="30" height="30" style="margin: 8em auto 0em auto;  display: block" />
            <label>Редактировать</label>
        </NavLink>
        <NavLink class="nav-link" href="#" style="padding: 0; text-align: center">
            <img src="settings.png" width="30" height="30" style="margin: 1em auto 0em auto;  display: block" />
            <label>Удалить</label>
        </NavLink>
    </div>
</div>


@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;
}
