@page "/manageZones"
@rendermode InteractiveServer
@using System.Globalization
@using LW2_ParkingLots.Model.Entities
@using LW2_ParkingLots.Model.Services

<div class="layout-rectangle1">
    <div class="layout-rectangle1" style="float: left; width: 93%; padding: 0;">
        <div style="display: flex; align-items: center; margin-bottom: 5rem;">
            <img src="settings.png" alt="icon" style="margin-right: 3rem;">
            <h2 style="margin: 0;">Управление парковочными зонами</h2>
        </div>

        <div style="display: flex; flex-direction:column; width: 20%; margin: 0 auto; margin-bottom: 40rem; text-align:center">
            <h3 for="cars">Список зон:</h3>

            <select name="cars" id="cars">
                @foreach (var zone in zones)
                {
                    <option value="@zone.Address">@zone.Address</option>
                }
            </select>
        </div>

        <button @onclick='() => Navigation.NavigateTo("manageZone")' style="margin:0 auto; display:block; width: 20rem; background-color: #5a3db4; color: white; padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;">
            Выбрать
            </button>

        <div style="text-align: center; margin-top: 20px;">
            <a style="padding: 10px 20px; border: none; border-radius: 8px; font-size: 16px; cursor: pointer;" href="/management">Назад</a>
        </div>        
    </div>

    <div class="layout-rectangle1" style="float: left; width: 7%; padding: 0;">

        <NavLink class="nav-link" href="createZone" style="padding: 0; text-align: center">
            <img src="settings.png" width="30" height="30" style="margin: 8em auto 0em auto;  display: block" />
            <label>Создать</label>
        </NavLink>
    </div>
</div>


@code {
    [Inject]
    private NavigationManager Navigation { get; set; } = default!;

    [Inject]
    private IZoneService service { get; set; } = default!;

    private List<ParkingZone> zones = [];

    protected override async Task OnInitializedAsync()
    {
        zones = await service.GetZonesAsync();
    }
}
